body {
  background-color: rgb(27, 28, 30);
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(60, 60, 60); /* Dark gray background for the box */
  padding: 18px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header nav {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between links */
}

.header nav .main-logo img{
  margin-top: -9px;
}
.header nav a {
  color: white; /* Default link color */
  text-decoration: none; /* No underline by default */
  font-size: 16px;
  font-weight: bold;
}
.header nav a:hover {
  color: white; /* Keep text white */
  text-decoration: underline;
  text-decoration-color: rgb(65, 166, 57); /* Green underline on hover */
}

/* Overall container */
.main-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Both sides take equal space */
  gap: 20px; /* Add spacing between grid items */
  width: 100%; /* Use the full width of the viewport */
  height: 100vh; /* Use the full height of the viewport */
  padding: 20px; /* Optional: Padding for spacing around the container */
  box-sizing: border-box; /* Ensure padding is included in total width and height */
}

/* Left Side */
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute the content evenly */
  height: 100%; /* Ensures the left side takes the full height */
}

/* Right Side */
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute content evenly */
  height: 100%; /* Ensures the right side takes the full height */
}

.index .next-match {
  margin: 10px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow sections to grow and fill space */
}

.index .photos {
  position: relative; /* Ensure the parent container has relative positioning */
  display: inline-block; /* To ensure the element sizes correctly around the image */
  flex-grow: 1; /* Allow sections to grow and fill space */
}

.index .photos img {
  max-width: 100%; /* Image will not exceed the container's width */
  max-height: 400px; /* Image will not exceed 400px in height */
  object-fit: contain; /* The image will scale within the box, keeping its aspect ratio */
  border-radius: 8px;
}

.index .photos h2 {
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Adjust to perfectly center */
  color: white; /* Make text white for better contrast */
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add some shadow for better readability */
  margin: 0; /* Ensure no default margin on the h2 */
}

.index .photos .responsive-container {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Responsives Bild */
.index .photos .responsive-photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optionale Abrundung */
  display: block;
  margin: 0 auto;
}

.index .photos figcaption a {
  color: rgb(65, 166, 57); /* Blau, typisch für Links */
  text-decoration: none; /* Entfernt Unterstrich */
}

.index .photos figcaption a:hover {
  color:rgb(105, 229, 85);
  text-decoration: underline; /* Unterstrich bei Hover für Interaktivität */
}

.index .photos figcaption {
  font-size: 12px;
  text-align: left; /* Text linksbündig ausrichten */
  line-height: 1.5; /* Bessere Lesbarkeit durch Zeilenhöhe */
}

.index .last-game {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-grow: 1;
}

.index .result {
  margin: 10px; /* Keep the margin as is */
  padding: 20px; /* Increase the padding to make these blocks larger */
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow these blocks to grow */
}

.index .stats {
  margin: 10px;
  padding: 20px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.index .stats h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.stats-table-wrapper {
  max-height: 120px; /* Reduced height to show only about 4 rows */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Space for scroll bar */
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.stats-table th,
.stats-table td {
  padding: 10px; /* Reduced padding to fit more content */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.stats-table th {
  background-color: rgb(80, 80, 80);
  font-size: 16px;
}

.stats-table td {
  background-color: rgb(70, 70, 70);
  font-size: 14px;
}

.stats-table tr:hover {
  background-color: rgb(60, 60, 60);
}

.stats-table td {
  color: #f1f1f1; /* Lighter text for better contrast */
}

.stats-table th {
  color: #fff; /* White for header text */
}

.index .table-container{
  max-height: 280px;
}

.index .table {
  margin: 10px;
  margin-top: 0px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 0;
  
}

.matchcenter .next-match {
  margin: 10px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow sections to grow and fill space */
}

.matchcenter .next-next-match {
  margin: 10px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow sections to grow and fill space */
}

.matchcenter .table {
  margin: 10px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.matchcenter .table-container{
  max-height: 520px;
}

.table {
  margin: 10px;
  padding: 15px;
  background-color: rgb(60, 60, 60);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  
}

.table h2 {
  margin-bottom: 10px;
  color: white;
}

.table-container {
  overflow-y: auto; /* Add vertical scroll if content exceeds max-height */
  border: 1px solid rgb(80, 80, 80);
  border-radius: 8px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: rgb(40, 40, 40);
}

.table tr:nth-child(even) {
  background-color: rgb(50, 50, 50);
}

.table img {
  vertical-align: middle;
  margin-right: 5px;
}


/* Ensure photos are responsive */
.photos-site .main-content {
  display: flex; /* Flexbox ensures responsive layout */
  justify-content: center; /* Center the content */
  align-items: center; /* Vertically center the content */
  height: calc(100vh - 70px); /* Full viewport height minus the header */
  margin: 55px;
  gap: 20px; /* Gap between buttons and images */
  box-sizing: border-box;
}

/* Button styles for better responsiveness */
.photos-site button {
  background-color: rgb(65, 166, 57); /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.photos-site button:hover {
  background-color: rgb(105, 229, 85); /* Lighter green on hover */
}

/* Responsive image styling */
.photos-site .photos img {
  max-width: 100%; /* Make image width 100% of the container */
  height: auto; /* Automatically adjust height while maintaining aspect ratio */
  object-fit: contain; /* Ensure the image scales without distorting */
  border-radius: 8px; /* Rounded corners for the image */
}

/* Ensure the counter is placed correctly for all screen sizes */
.photos-site .imageCounter {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.photos-site .main-content .photos figcaption a {
  color: rgb(65, 166, 57);
  text-decoration: none; /* Entfernt Unterstrich */
}

.photos-site .main-content .photos figcaption a:hover {
  text-decoration: underline; /* Unterstrich bei Hover für Interaktivität */
  color:rgb(105, 229, 85);
}

.photos-site .main-content .photos figcaption {
  font-size: 12px;
  text-align: left; /* Text linksbündig ausrichten */
  line-height: 1.5; /* Bessere Lesbarkeit durch Zeilenhöhe */
}

/* Basic styling for the history section */
.history {
  margin: 10px auto; /* Auto margin to center the box, and keep the space at the top */
  padding: 20px; /* More padding for better space inside */
  background-color: rgb(60, 60, 60);
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  font-size: 14px; /* Reduced font size */
  max-width: 900px; /* Increased max width for larger sections */
  width: 100%; /* Ensure it takes up the full width available */
}

/* Basic form styling */
.history-form {
  margin-top: 20px; /* Increased margin top */
  padding: 15px; /* More padding for space inside */
  background-color: rgb(60, 60, 60);
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* Set max width to align with history section */
  width: 100%; /* Ensure full width */
  margin-left: auto; /* Center the form horizontally */
  margin-right: auto; /* Center the form horizontally */
}

/* Form fields styling */
.history-form label {
  display: block;
  margin-top: 10px; /* Reduced margin */
  color: white;
  font-size: 14px; /* Reduced font size */
}

.history-form input, .history-form textarea {
  width: 98%; /* Make input and textarea fill the available width */
  padding: 10px; /* Increased padding */
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px; /* Reduced font size */
}

/* Submit button styling */
.history-form button {
  margin-top: 20px; /* Increased margin top */
  padding: 12px 20px; /* Increased padding */
  background-color: rgb(65, 166, 57);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Reduced font size */
}

.history-form button:hover {
  background-color: rgb(105, 229, 85);
}

/* To ensure the main content layout is correct */
.history-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align everything */
  width: 100%; /* Ensures full width */
  padding-bottom: 20px; /* Some space at the bottom */
}

/* Header login link */
.header .login-link {
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header .login-link:hover {
  text-decoration: underline;
}

/* Login Page Content */
.login-page .main-content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust for header height */
}

.login-form {
  background-color: rgb(60, 60, 60);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  color: white;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}

.login-form input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-form button {
  margin-top: 15px;
  padding: 12px 20px; /* Increased padding for better button size */
  background-color: rgb(65, 166, 57);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: rgb(105, 229, 85);
}
