<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VfL Wolfsburg</title>
  <link rel="stylesheet" href="styles.css"> <!-- Assuming you will style with CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,800;1,800&display=swap" rel="stylesheet">
</head>
<body class="matchcenter">
  <!-- Header Section (Flexbox) -->
  <header class="header">
    <nav class="nav">
      <a class=main-logo href="./index.html"><img src="./img/logo-buli/vflwolfsburg.svg" alt="VfL Wolfsburg" width="40" height="40"></a>
      <a href="./matchcenter.html">Matchcenter</a>
      <a href="./photos.html">Fotos</a>
      <a href="./history.html">Geschichte</a>
      <a href="./login.html" class="login-link">Login</a>
    </nav>
  </header>

  <!-- Main Content Section (Grid) -->
  <div class="main-content">
    <!-- Left Side -->
    <div class="left-side">
      <!-- Next Match -->
      <div class="next-match">
        <div class="match-details">
          <div class="team-logo">
            <!-- Team 1 Logo -->
            <img src="./img/logo-buli/vflwolfsburg.svg" alt="VfL Wolfsburg" width="50" height="50">
          </div>
          <div class="vs">VS</div>
          <div class="team-logo">
            <!-- Team 2 Logo -->
            <img src="./img/logo-buli/borussiamoenchengladbach.svg" alt="Borussia Mönchengladbach" width="50" height="50">
          </div>
          <div class="match-info">
            <div class="spieltag">Spieltag: 15</div>
            <div class="match-time">14.01.2025 | 20:30</div>
          </div>
        </div>
      </div>
    
      <!-- Next-Next Match -->
      <div class="next-next-match">
        <div class="match-details">
          <div class="team-logo">
            <!-- Team 1 Logo -->
            <img src="./img/logo-buli/fcbayern.svg" alt="FC Bayern" width="50" height="50">
          </div>
          <div class="vs">VS</div>
          <div class="team-logo">
            <!-- Team 2 Logo -->
            <img src="./img/logo-buli/vflwolfsburg.svg" alt="VfL Wolfsburg" width="50" height="50">
          </div>
          <div class="match-info">
            <div class="spieltag">Spieltag: 16</div>
            <div class="match-time">18.01.2025 | 15:30</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side -->
    <div class="right-side">
      <div class="table">
        <h2>Bundesliga Tabelle</h2>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th>Spiele</th>
                <th>Punkte</th>
                <th>Torverhältnis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img src="./img/logo-buli/fcbayern.svg" alt="FC Bayern" width="20" height="20"> FC Bayern</td>
                <td>16</td>
                <td>39</td>
                <td>+35</td>
              </tr>
              <tr>
                <td>2</td>
                <td><img src="./img/logo-buli/bayerleverkusen04.svg" alt="Bayer Leverkusen" width="20" height="20"> Bayer Leverkusen</td>
                <td>16</td>
                <td>35</td>
                <td>+17</td>
              </tr>
              <tr>
                <td>3</td>
                <td><img src="./img/logo-buli/eintrachtfrankfurt.svg" alt="Eintracht Frankfurt" width="20" height="20"> Eintracht Frankfurt</td>
                <td>16</td>
                <td>30</td>
                <td>+13</td>
              </tr>
              <tr>
                <td>4</td>
                <td><img src="./img/logo-buli/rbleipzig.svg" alt="RB Leipzig" width="20" height="20"> RB Leipzig</td>
                <td>16</td>
                <td>30</td>
                <td>+6</td>
              </tr>
              <tr>
                <td>5</td>
                <td><img src="./img/logo-buli/fsvmainz05.svg" alt="Mainz" width="20" height="20"> Mainz</td>
                <td>16</td>
                <td>28</td>
                <td>+10</td>
              </tr>
              <tr>
                <td>6</td>
                <td><img src="./img/logo-buli/scfreiburg.svg" alt="SC Freiburg" width="20" height="20"> SC Freiburg</td>
                <td>16</td>
                <td>27</td>
                <td>-2</td>
              </tr>
              <tr>
                <td>7</td>
                <td><img src="./img/logo-buli/vfbstuttgart.svg" alt="VfB Stuttgart" width="20" height="20"> VfB Stuttgart</td>
                <td>16</td>
                <td>26</td>
                <td>+5</td>
              </tr>
              <tr>
                <td>8</td>
                <td><img src="./img/logo-buli/borussiadortmund.svg" alt="Borussia Dortmund" width="20" height="20"> Borussia Dortmund</td>
                <td>16</td>
                <td>25</td>
                <td>+5</td>
              </tr>
              <tr>
                <td>9</td>
                <td><img src="./img/logo-buli/svwerderbremen.svg" alt="Werder Bremen" width="20" height="20"> Werder Bremen</td>
                <td>16</td>
                <td>25</td>
                <td>-1</td>
              </tr>
              <tr>
                <td>10</td>
                <td><img src="./img/logo-buli/vflwolfsburg.svg" alt="Wolfsburg" width="20" height="20"> Wolfsburg</td>
                <td>16</td>
                <td>24</td>
                <td>+5</td>
              </tr>
              <tr>
                <td>11</td>
                <td><img src="./img/logo-buli/borussiamoenchengladbach.svg" alt="Borussia Mönchengladbach" width="20" height="20"> Borussia Mönchengladbach</td>
                <td>16</td>
                <td>24</td>
                <td>+4</td>
              </tr>
              <tr>
                <td>12</td>
                <td><img src="./img/logo-buli/fcunionberlin.svg" alt="Union Berlin" width="20" height="20"> Union Berlin</td>
                <td>16</td>
                <td>17</td>
                <td>-7</td>
              </tr>
              <tr>
                <td>13</td>
                <td><img src="./img/logo-buli/fcaugsburg.svg" alt="Augsburg" width="20" height="20"> Augsburg</td>
                <td>16</td>
                <td>16</td>
                <td>-16</td>
              </tr>
              <tr>
                <td>14</td>
                <td><img src="./img/logo-buli/fcstpauli.svg" alt="FC St. Pauli" width="20" height="20"> FC St. Pauli</td>
                <td>16</td>
                <td>14</td>
                <td>-8</td>
              </tr>
              <tr>
                <td>15</td>
                <td><img src="./img/logo-buli/tsghoffenheim.svg" alt="Hoffenheim" width="20" height="20"> Hoffenheim</td>
                <td>16</td>
                <td>14</td>
                <td>-9</td>
              </tr>
              <tr>
                <td>16</td>
                <td><img src="./img/logo-buli/fcheidenheim.svg" alt="Heidenheim" width="20" height="20"> Heidenheim</td>
                <td>16</td>
                <td>13</td>
                <td>-13</td>
              </tr>
              <tr>
                <td>17</td>
                <td><img src="./img/logo-buli/holsteinkiel.svg" alt="Holstein Kiel" width="20" height="20"> Holstein Kiel</td>
                <td>16</td>
                <td>8</td>
                <td>-20</td>
              </tr>
              <tr>
                <td>18</td>
                <td><img src="./img/logo-buli/vflbochum.svg" alt="VfL Bochum" width="20" height="20"> VfL Bochum</td>
                <td>16</td>
                <td>6</td>
                <td>-24</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section (optional, can be added later) -->
  <footer class="footer">
    <!-- Footer content -->
  </footer> 
</body>
</html>
